<template>
  <q-page class="flex flex-center">
<GeneratorUI/>
  </q-page>
</template>

<script>
import GeneratorUI from 'components/GeneratorUI'
export default {
  name: 'PageIndex',
  components: {
    GeneratorUI
  }
}
</script>
